@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    --primary-background-color: white;
    --secondary-background-color: #fff;
    --text-color: #191a1a;
    --button-background-color: #f5f6f0;
    --button-text-color: #000;
    --button-hover-background-color: var(--primary-background-color);
    --button-hover-text-color: #191a1a;
    --button-border-color: #ccc;
    --link-color: black;
    --link-hover-color: var(--text-color);
    --font-family: 'Roboto', sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    --success-color: var(--primary-background-color);
    --error-color: #000;
}